@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
  --primary-color: #462380;
  --dark-color: #1f3f68;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  /* color: #333; */
}

a {
  /* color: var(--primary-color); */
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1600px;
  margin: auto;
  overflow: hidden;
  /* padding: 0 2rem; */
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* SHOWCASE */
.showcase {
  background-image: linear-gradient(#fff, #b5d7f5);
  padding: 30px;
  height: 75vh;
}

.showcase .showcase-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* justify-content: center; */
  padding-left: 40px;
}

.showcase .showcase-content h1 {
  font-size: 4rem;
  margin: 40px 0;
  color: #1f3f68;
}

.showcase .showcase-content p {
  color: #1f3f68;
  width: 70%;
  margin-top: -10px;
  margin-bottom: 60px;
}

.showcase .showcase-content a {
  background: #462380;
  width: fit-content;
  padding: 15px 75px;
  color: #fff;
  border-radius: 10px;
}

.showcase .showcase-img {
  height: fit-content;
  margin-top: 100px;
  margin-right: 50px;
  margin-bottom: 40px;
  width: 95%;
}

/* WORK */

.work {
  width: 100%;
  padding: 100px 0;
  /* height: fit-content; */
  display: flex;
  justify-content: center;
  align-items: center;
}

section.work .grid-content {
  width: 380px;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

section.work .grid-content div {
  width: 100%;
  margin: 20px 0;
  padding: 25px;
  height: fit-content;
}

.work .grid-content div .card-img {
  width: 100%;
  display: flex;
  margin: 0;
  justify-content: center;
  /* padding: 20px; */
}

.work .grid-content div h1 {
  color: #316099;
  font-size: 2.25rem;
}

.work .grid-content img {
  width: auto;
  height: 100px;
}

.work .grid-content .card div {
  margin: 0;
}

.work .grid-content .card div h2 {
  font-size: 20px;
  color: #1f3f68;
  padding: 10px 0;
}

.work .grid-content .card div p {
  font-size: 1rem;
  color: #1f3f68;
  padding: 10px 0;
}
.work .grid-content .card div a {
  font-size: 1rem;
  color: #5a98d0;
  margin-top: 20px;
  width: 100%;
}

.work .grid-content .card div a span {
  margin-left: 30px;
  margin-top: 10px;
}

.shopping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopping .shopping-1,
.shopping .shopping-2,
.shopping .shopping-3 {
  width: 80%;
  margin: 20px;
}

.shopping .shopping-1 h1,
.shopping .shopping-1 p {
  padding: 20px;
}

.shopping .shopping-1 h1 {
  color: #1f3f68;
  font-size: 36px;
}

.shopping .shopping-1 p {
  color: #1f3f68;
}

.shopping .shopping-2 {
  position: relative;
}

.shopping .shopping-2 img {
  height: 40vh;
  border-radius: 10px;
}

.shopping .shopping-2 .img-landing {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  /* background-image: linear-gradient(to right, #1f3f68, #5593e4); */
  background-image: linear-gradient(to top right, #0d213b, rgba(0, 0, 0, 0.3));
  opacity: 0.7;
  border-radius: 10px;
}

.shopping .shopping-2 div {
  position: absolute;
  top: 10%;
  right: 5%;
  float: left;
  background: transparent;
  color: #fff;
}

.shopping .shopping-2 .cart-icon {
  position: absolute;
  bottom: 5%;
  left: 3%;
  color: #0d213b;
}

.shopping .shopping-2 .cart-icon i {
  font-size: 15.625rem;
}

.shopping .shopping-2 div h1 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
}

.shopping .shopping-2 div p {
  float: left;
}

.shopping .shopping-3 {
  padding: 10px;
}

.shopping .shopping-3 .site,
.shopping .shopping-3 .app {
  position: relative;
  height: 500px;
}

.shopping .shopping-3 .app .app-landing,
.shopping .shopping-3 .site .app-landing {
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(
    to top right,
    #42a5f5,
    rgba(82, 135, 250, 0.3)
  );
  opacity: 0.8;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.shopping .shopping-3 .site {
  background: red;
}

.shopping .shopping-3 .app .app-market,
.shopping .shopping-3 .site .app-market {
  position: absolute;
  top: 5%;
  left: 6%;
  color: #fff;
}

.shopping .shopping-3 .app .app-market h1,
.shopping .shopping-3 .app .app-market p,
.shopping .shopping-3 .site .app-market p,
.shopping .shopping-3 .site .app-market h1 {
  padding: 10px;
}

.shopping .shopping-3 .app .app-img {
  display: flex;
  width: 50%;
  height: 100%;
  padding: 15px 0;
}

.shopping .shopping-3 .site .app-img {
  height: 100%;
}

.shopping .shopping-3 .site img {
  border-radius: 10px;
  height: 100%;
}

.shopping .shopping-3 .app img {
  width: 100%;
}

/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Cards */
.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  box-shadow: 10px 10px 20px 10px #d7ebfc, -10px -10px 20px 10px #d7ebfc;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

/* Grid */

.grid {
  display: grid;
  grid-gap: 1rem;
  width: 100%;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 100%;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.btn {
  display: inline-block;
  /* background: var(--light-color); */
  /* color: #333; */
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.badge {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

/* Forms */
input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'],
button {
  font: inherit;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  z-index: 1;
  height: 120px;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  /* color: #fff; */
  padding: 0.45rem 0.7rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  /* color: var(--light-color); */
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}
